.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 48px;
    font-weight: 700;
    color: red;
    padding-top: 20%;
}


@media only screen and (max-width: 440px) {
    .not-found {
        font-size: 42px;
        padding-top: 33%;
    }
}