.title-add-new {
  color: white;
}
.create {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.questions-add {
  display: flex;
  gap: 50px;
}
.form-add-new {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25rem;
  max-width: 370px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  margin-top: 59px;
}
.title-questions-text {
  font-size: 18px;
  color: white;
}
.section-options {
  font-size: 18px;
  font-family: "Comic Neue", sans-serif;
  border: 2px solid green;
  width: 60%;
  height: 40px;
  cursor: pointer;
}
.input-add-text {
  border: 3px solid green;
  width: 100%;
}
.btn-save-add-new {
  font-family: "Comic Neue", sans-serif;
  font-size: 18px;
  border: none;
  width: 85px;
  height: 29px;
  cursor: pointer;
  border-radius: 5px;
  background-color: green;
  color: white;
}
.btn-save-add-new:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.btn-save-right {
  display: flex;
  justify-content: end;
}



@media only screen and (max-width: 440px) {
  .create {
    align-items: center;
  }

  .form-add-new {
    max-width: 90%;
  }
}

